@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'greycliff';
    src: url('/font/greycliff.otf');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: 'greycliff';
}

body{
    width: 100% !important;
    overflow-x: hidden !important;
    background-color: #F2F0EA;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
} 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #A65840;
    border-radius: 20px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}